<body>
  <h1> Fill out this form! </h1>
  <form action="/new/" method="POST">
      Post name: <input type="text" name="name">
      <br/>
      Post content: <input type="text" name="content">
      <br/>
      <input type="submit">
  </form>
</body>
